<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
	   http://code.alibabatech.com/schema/dubbo
	   http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!-- 引用dubbo服务 -->
    <dubbo:application name="dubbo-consume"/>
    <dubbo:registry protocol="zookeeper" address="127.0.0.1:2181"/>
    <!-- 声明需要暴露的服务接口 -->
    <dubbo:reference interface="com.ambition.service.api.AnimalService" id="animalServiceImpl" timeout="10000"/>
    <dubbo:reference interface="com.ambition.service.api.CollectorService" id="collectorServiceImpl" timeout="10000"/>
    <dubbo:reference interface="com.ambition.service.api.PersonService" id="personServiceImpl" timeout="10000"/>

</beans>